<# NeurIPS paper template for NanoResearch #>
<# Uses custom Jinja2 delimiters: <% %> for blocks, << >> for variables, <# #> for comments #>
\documentclass{article}

%% ---- NeurIPS Style ----
\usepackage[final]{neurips_2024}
\makeatletter
\providecommand{\@trackname}{}
\makeatother

%% ---- Standard Packages ----
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{graphicx}
\usepackage{hyperref}
\usepackage{natbib}
\usepackage{booktabs}
\usepackage{xcolor}
\usepackage{float}
\usepackage{placeins}
\usepackage{multirow}

\title{<< title >>}
\author{<%- for author in authors %>
<< author >><% if not loop.last %> \and <% endif %>
<%- endfor %>}

\begin{document}

\maketitle

%% ---- Abstract ----
\begin{abstract}
<< abstract >>
\end{abstract}
\vspace{-1.2em}

%% ---- Sections ----
<% for section in sections %>
\section{<< section.heading >>}\label{<< section.label >>}

<< section.content >>

<% for subsection in section.subsections %>
\subsection{<< subsection.heading >>}\label{<< subsection.label >>}

<< subsection.content >>

<% endfor %>
<% endfor %>

%% ---- References ----
\bibliographystyle{plainnat}
\bibliography{references}

\end{document}
